  <div class="activity-title d-flex justify-content-between align-items-center pl-3 pr-3" style="height: 60px;">
    <h4 style="min-width: 50px; "><%= step %></h4>
    <span><%= step %></span>
  </div>
  <div class="d-flex justify-content-between ">
    <p id="nb-people"> text</p>
    <p id="price"> text €/pers</p>
  </div>
</div>

