<h2>Details of the activities</h2>
<p>A little sentence about how this page works and what the user should do.</p>
<div class="preferences d-flex">
<div class="filter"></div>
<div class="filter"></div>
<div class="filter"></div>
<div class="filter"></div>
</div>

<div class="container d-flex">

<div class="map sticky-top">
  <button type="button" class="btn btn-success"><b>Save</b></button>
</div>
<div class="list-activity">
  <h3>Your activities</h3>
<div class="steps">
  <div class="step-details d-flex">
    <p>Step 1</p>
  </div>
</div><div class="steps">
  <div class="step-details d-flex">
    <p>Step 2</p>
  </div>
</div><div class="steps">
  <div class="step-details d-flex">
    <p>Step 3</p>
  </div>
</div>s="steps"></div>
</div>

</div>
