

<div class="tabs-container mt-3">
    <div class="tab-button">1</div>
    <hr>
    <div class="tab-button">2</div>
    <hr>
    <div class="tab-button">3</div>
    <hr>
    <div class="tab-button tab-active">Go</div>
</div>

<div class="container" style = "margin: auto; height: 75vh;">
  <div class="d-flex mt-4 justify-content-around">
    <div class="steps">
      <% @trip.steps.each do |step| %>
        <p> STEP - <%= step.city.name %></p>
     <% end %>
     </div>
      <div
        id="map"
        style="width: 50%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <%= link_to "Go", details_trip_path(@trip) , class: "green-btn"%>
  </div>
</div>

<div class="test">  </div>




