.btn-save {
    position: absolute;
    top: -8px;
    right: -5px;
    z-index: 1;
}
.bg{
  // background-color: #FAFCFE;
  background-color: rgba(231, 229, 229, 0.05);
}
// .preferences{
//   width: 70vh;
// }
h2.trip-header{
  font-weight: 400;
  color: white;
  background-color: rgba(69, 77, 102, 0.9);;
  font-family: 'Raleway', ‘Montserrat’, sans-serif;
  font-size: 32px;
  padding: 1.5em;
  letter-spacing: 0.2em;
  margin-bottom: 0;
}
h3.trip-header{
  font-weight: 400;
  color: white;
  background-color: rgba(69, 77, 102, 0.9);;
  font-family: 'Raleway', ‘Montserrat’, sans-serif;
  font-size: 20px;
  padding: 0.5em;
  letter-spacing: 0.2em;
  border-radius: 5px;
}
.btn{
  color:white;
  margin: 8px;
  position: relative;
}

.filter {
  width: 8em;
  margin: 1.5em 0.5em;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid rgba(69, 77, 102, 0.2);
  color: #454D66;
  transition: all 0.5s ease;
  font-size: 20px;
}
.timeline-cities h2{
  font-weight: 500;
  color: #454D66;
  font-family: 'Raleway', ‘Montserrat’, sans-serif;
  font-size: 20px;
}
.timeline-cities{
  margin: 0vw 9vw 0vw 9vw;
}

.timeline-container{
  margin: 1vw 10vw 7vw 10vw;
}
.timeline {
  background-color: rgba(69, 77, 102, 0.9);
  color: white;
  border-radius: 50%;
  padding: 0.5em 1em;
  // margin: 10%;
}
p.timeline {
  margin-bottom: 0;
}
.timeline-container > hr{
  width: 50%;
}
.map{
  height: 90vh;
  width: 80vh;
  margin-top: 1em;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.sticky-map-trip{
  position: sticky;
  top: 10px;
}

.sticky-top a {
  margin: 3vh 3vh 0 0;
}

.list-activity{
  width: 45%;
  height: 90vh;
  background-color: white;
  margin-left: 10px;
  overflow: scroll;
  // box-shadow: 0 0 5px rgba(0,0,0,0.05);
  // border: 1px solid rgba(69, 77, 102, 0.1);
  border-radius: 15px;
  padding: 25px 25px 25px 25px;
}

// .list-activity h2{
//   font-weight: 600;
//   color: rgba(69, 77, 102, 0.8);;
//   font-family: 'Raleway', ‘Montserrat’, sans-serif;
//   font-size: 30px;
// }
// .steps{
//   height: auto;
//   width:auto;
//   background-color:white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin:10px;
//   padding:30px;
//   border-radius: 8px;
// }

// .step-details{
//   height:140px;
//   width:auto;
//   background-color: red;
// }
