.steps{
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2em;
  min-width: 300px;
}

.steps p {
  padding : 0 10px 0 10px;
}
.step-map{
  width: 30%;
  position: relative;
  height: auto;
}

#map{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.absolute{
  position: absolute;
}
p.type-activity {
  background-color: rgba(90, 183, 148, 0.8);
  color: white;
  // width: 100%;
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  border-radius: 4px 4px 0 0;
}
p.description{
  color: #575F75;
  text-align: justify;
  opacity: 1;
   }

#but-absolute {
  left: 850px;
  top: 320px;
}
// .green-bouton{
//     background: #57B894;
//     border-radius: 37px;
//     color: white;
//     font-family: 'Montserrat', sans-serif;
//     font-size: 17px;
//     padding: 10px 15px;
//     font-weight: bold;
//     margin-top: 7vh;
//     margin-bottom: 7vh;
//     transition: all 0.4s ease;
//     text-align: center;
//     height: 37px;
//     width: 85px;
//     left: 295px;
//     bottom: -18px;
//     z-index: 2;
//     position: absolute;
//     line-height: 1em;
// }
