.steps{
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 180px;
  padding: 15px;
}

#map{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.green-btn{
  height:50px;
  width: 50px;
  text-align: center;
  position: relative;
  left: -107px;
  bottom: -283px;
}
