.green-btn {
  background: rgba(90, 184, 148, 1);
  border-radius: 8px;
  color : white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 0.5em 1.5em;
  font-weight: bold;
  margin-top: 7vh;
  margin-bottom: 7vh;
  transition: all 0.4s ease;
  text-align: center;
  letter-spacing: 0.1em;
}

.green-btn:hover{
  text-decoration: none;
  color:  #57B894;
  background-color: inherit;
  font-size: 17px;
  border: 1px solid #57B894;
  transition: all 0.4s ease;
}

.green-btn-criteria {
  letter-spacing: 0.1em;
  background: rgba(90, 184, 148, 1);
  border-radius: 8px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 0.5em 1.5em;
  font-weight: bold;
  margin: 1em 0em 0em 1em;
  transition: all 0.4s ease;
}

.green-btn-criteria:hover{
  text-decoration: none;
  color:  #57B894;
  background-color: inherit;
  font-size: 17px;
  border: 1px solid #57B894;
  transition: all 0.4s ease;
}

a:hover {
  text-decoration: none;
  color:  #57B894;
  background-color: inherit;
  font-size: 16px;
  border-bottom: 2px solid #57B894;
  // border-radius: 5em;
  transition: all 0.4s ease;
}

.form-shared-links a {
    font-family: Montserrat;
    text-decoration: none;
    color: #57B894;
    font-size: 20px;
    // border: 1px solid #57B894;
    padding: 8px;
    border-radius: 20px;
    // text-align: center;
    margin: 0% 15%;
    font-size: 16px;
    transition: all 0.5s ease;
    line-height: 3em;
}

.form-shared-links a:hover {
    border: 1px solid #57B894;
    color: #57B894;
    transition: all 0.5s ease;
    padding: 1%;
}



