.green-btn {
  background: #57B894;
  border-radius: 37px;
  color : white;
  font-family: 'Montserrat', sans-serif;
  font-size : 18px;
  padding : 15px;
  font-weight: bold;
  margin-top: 7vh;
  margin-bottom: 7vh;
  transition: all 0.4s ease;
  text-align: center;
}

.green-btn:hover{
  text-decoration: none;
  color:  #57B894;
  background-color: inherit;
  font-size: 20px;
  border: 1px solid #57B894;
  transition: all 0.4s ease;
}

a:hover {
  text-decoration: none;
  color:  #57B894;
  background-color: inherit;
  font-size: 20px;
  border: 1px solid #57B894;
  transition: all 0.4s ease;
}

