mistery-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}
.mistery-choices input[type="checkbox"] {
    opacity: 0;
}
.mistery-choices-row-three {
    display: flex;
    justify-content: space-between;
}
.mistery-choices-row-two {
   display: flex;
    justify-content: space-between;
}
.imposed-width{
  width: 235px !important ;
}
