.form-container{
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: rgba(142, 187, 239, 0.04);
  padding-top: 10vh;
  font-family: ‘Montserrat’, sans-serif;
  width: 50%;
}

.form-container-criteria-slider{
  margin: auto;
  margin-bottom: 3vh;
  padding-top: 6vh;
  font-family: ‘Montserrat’, sans-serif;
  width: 50%;
}
// .box-shadow{
//   border: 1px solid rgba(142, 187, 239, 0.1);
//   box-shadow: 0 0 3px rgba(0,0,0,0.1);
//   margin: 0% 20% 0% 20%;
//   border-radius: 1%;
// }

.criteria-slider{
  background-color: rgba(142, 187, 239, 0.04);
}

.form-header{
  font-weight: 500;
  color: #454D66;
  font-family: 'Raleway', ‘Montserrat’, sans-serif;
  font-size: 28px;
}
.form-border{
  border: 1px solid rgba(69,77,102,0.4);
  border-radius: 1%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.form-control-label {
  padding-left: 0.5vw;
  font-weight: lighter;
  color: #454D66;
}
.form-control {
  border: inherit;
  border: 1px solid transparent;
  border-bottom: 1px solid #ced4da;
  font-weight: lighter;
  color: #454D66;
}

.form-inputs{
  width: 70%;
  margin: auto;
}

