.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  margin-top: -93.5px;

}
.navbar-scrolled {
  color:black;
  background: white;
  box-shadow: 0 0 15px rgba(25,108,221,0.2);
}

.navbar-lewagon p {
  margin-bottom: 0;
  margin-top: 0;
}

.nav-link{
  color: #333333;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
